html{
  height: 100%;
}

body {
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.first-body{
  background-image: url(Media/DSC09611.jpg);
  height: 100%;
  background-position: 40% 50%;
  left: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px;
  margin: 0px;
  
}

.firstheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.first-text{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex: 1;
  font-size: 40px;
}

.header-links{
  display: flex;
  gap: 16px;
  padding: 32px;
}

a {
  text-decoration: none;
  color: white;
}


.second-body{
  background-image: url(Media/DarkerDuck.png);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.twotext{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  margin-top: 96px;
  margin-bottom: 32px;
  font-size: 40px;
  color: black;
}

.threeimg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  margin-bottom: 320px;
  flex: 1;
  margin: 10px;
  padding: 10px;
}

.Vlog1, .Vlog2, .Vlog3{
  max-width: 100%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}


.firstbodyimage{
  width: 500px;
  height: auto;
}


.third-body{
  background-image: url(Media/DSC07244.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.threetext{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 64px;
  font-family: Helvetica;
  text-align: center;
  -webkit-text-stroke: 2px black;
}

.fourth-body{
  background-image: url(Media/Small-Banner.png);
  height: 40%;
  background-position: 50% 52%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.fourtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 8px;

  

}

.fifth-body{
  background-image: url(Media/Fairy\ Lights.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

}

.footertext{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  flex-shrink: 0;
  align-self: center;
}

.headerimg{
  width:80px;
  height:80px;
  object-fit:cover;
  border-radius:50%;
}


.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px black, 0 0 20px black;
  }
  to {
    text-shadow: 0 0 20px black, 0 0 30px black;
  }
}